/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_1rae0e5k54z.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_1rae0e5k54z.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_1rae0e5k54z.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_1rae0e5k54z.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_1rae0e5k54z.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_1rae0e5k54z.svg#Alibaba-PuHuiTi-Regular') format('svg'); /* iOS 4.1- */
}

html{
    font-family:"webfont" !important;
    font-size:10px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

body{
    margin: 0;
}